<audio autoplay>
      <source src="/sound/happy.mp3">
</audio>
<section class="top">
  <p class="main_title"><span class="rainbow">Birthday World</span></p>
  <p class="main_subtitle">Send your birthday buddy a special, personalized birthday video message from someone, somewhere in the world.</p>
</section>
<section class="bottom">
<canvas id="world"></canvas>
<div class="form-field">
  <p id="prompt-message">A world of birthday magic begins here.</p>
    <div id="formleft">
      <p>Who's your birthday buddy?</p>
      <input type="text" class="form-control input-lg bday-form-field" id="to-name" placeholder="Birthday buddy's name">
      <input type="text" class="form-control input-lg bday-form-field" id="send-from" placeholder="Birthday buddy's email">
      <input type="text" class="form-control input-lg bday-form-field" id="send-to" placeholder="Your email">
      <textarea class="form-control input-lg bday-form-field" rows="5" id="text" placeholder="Special message to deliver"></textarea>
      <p id="wordcount">40 more words</p>
    </div>
    <div id="formright" style="overflow:hidden;">
      <p>And when's the big day?</p>
      <div class="cal-group">
        <div id="datetimepicker12"></div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker12').datetimepicker({
                  inline: true,
                  format: 'MM/dd',
                  sideBySide: true
              });
          });
      </script>
    </div>
    <div id="button_div">
      <div id="checkout_button">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal" id="pp_button"/>
      </div>
      <p id="price">Just $9.99, and we $plit it half$ies with the ¢ontent ¢reator.</p>
    </div>
    </div>
</section>
<section class="example">
  <p id="example-prompt">Here's the kind of thing we're talking about.</p>
  <div class="example-unit">
    <div class="left">
      <iframe src="https://player.vimeo.com/video/165065111" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="right">
      <img src="/img/ukraine.png" class="map">
      <p>Valera from Ukraine!</p>
    </div>
  </div>
  <div class="example-unit">
    <div class="left">
      <iframe src="https://player.vimeo.com/video/165312202" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="right">
      <img src="/img/china.png" class="map">
      <p>Qin from China!</p>
    </div>
  </div>
</section>
<footer>
  <p>Copyright Momentous LLC 2016</p>
  <p>hello@backerbox.co</p>
</footer>
