<section class="top">
  <p class="main_title">Happy Birthday From The World</p>
  <p class="main_subtitle">Get a personalized birthday greetings from someone in a different part of the world.</p>
</section>
<section class="bottom">
<div class="form-field">
  <p id="email-prompt-message">A world of birthday magic starts here.</p>
  <div class="email-submit-form">
    <input type="text" class="form-control" id="signup-email-field" placeholder="Your email">
    <input type="text" class="form-control" id="signup-email-field" placeholder="Friend's email">
    <input type="text" class="form-control" id="signup-email-field" placeholder="Friend's name">
    <input type="text" class="form-control" id="signup-email-field" placeholder="Friend's bday">
    <button type="submit" id="signup-email-button" class="btn btn-primary">Send</button>
</div>
</div>
</section>
<footer>
  <p>Copyright Momentous LLC 2016</p>
  <p>hello@backerbox.co</p>
</footer>
