<header>
  <img src = "../img/bday.jpg">
</header>
<section class="top">
  <h1>Happy Birthday From The World</h1>
  <h2>Get a personalized birthday greetings from someone in a different part of the world.</h2>
</section>
<section class="bottom">
<div class="email-entry-field">
  <p id="email-prompt-message">We're still tuning up. Please stay in touch.</p>
  <div class="email-submit-form">
    <button type="submit" id="signup-email-button" class="btn btn-primary">Send</button>
    <input type="text" class="form-control" id="signup-email-field" placeholder="Enter your email">
</div>
</div>
</section>
<footer>
  <p>Copyright Momentous LLC 2016</p>
  <p>hello@backerbox.co</p>
</footer>
